/* The color palette

Thick green: #1aa286
Shade      : #1ab385
Dark shade : #0da15f
~base      : #0c5748
Dark green : #0c2228
Base color : #009688
Base blue  : #47b1e8
Complement : #34495e
Smooth blue: #2c798f
Dark blue  : #2a2f3f
*/

/* Space out content a bit */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
strike,
strong,
dl,
dt,
dd,
ol,
ul,
li,
form,
canvas,
embed,
footer,
header,
nav,
section,
audio,
video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
#page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#toolbar {
    display: block;
    position: fixed;
    /*  box-shadow:1px 1px 5px #333333;*/
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #009688;
    padding: 0 16px;
}
#title {
    padding: 21px;
    position: absolute;
    bottom: 0;
    color: #F9F9F9;
    ;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.talkinfo {
    padding-top: 20px;
}
.row {
    position: relative;
    top: -25px;
}
md-item-content {
    padding-left: 40px;
}
.full {
    height: 100%;
    min-height: 70px;
}
.schedule {
    width: 100%;
    padding-left: 18%;
    padding-right: 20%;
}
.filters {
    position: relative;
    top: 0;
    padding-bottom: 20px;
}
.hamburger {
    position: relative;
    top: 21px;
    left: 22px;
}
.nav {
    position: fixed;
    height: 100%;
    margin-top: 60px;
}
.headline {
    font-family: 'Roboto', 'serif';
    font-size: 20px !important;
    font-weight: normal;
}
.subhead {
    font-family: 'Roboto', 'serif';
    font-size: 16px !important;
    font-weight: normal;
}
.content {
    font-family: 'Roboto', 'serif';
    font-size: 14px !important;
    font-weight: normal;
}
input {
    outline: none;
}
.style {
    background: #ebebeb;
}
#complement {
    background-color: #34495e;
}
.fabs {
    position: absolute;
    padding: 10px;
    top: 153px;
    z-index: 10;
    right: 180px;
}
.talk_title {
    color: #202020;
    font-size: 32px;
    line-height: 1.6;
    width: 85%;
}
.talk_info {
    color: #717171;
    line-height: 24px;
}
.track_details {
    position: absolute;
    right: 20px;
}
a {
    text-decoration: none;
}
.text {
    font-size: 16px !important;
}
#skrollr-body {
    position: fixed top: 0 left: 0 width: 100% height: auto
}
@media screen and (min-device-width: 320px) {
    min-height:1%
}
@media screen and (min-device-width: 480px) {
    min-height:1%
}
.action {
    position: fixed;
    top: 80%;
    right: 8%;
}
