<div class="style">
    <div class="talkinfo">
        <div class="talk cf" ng-model="talks">
            <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
            <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>

            <img ng-src="images/{{talks[whichItem].nickname}}_pic.png" alt="Photo of {{talks[whichItem].name}}">
            <div class="bio">{{talks[whichItem].speaker}}</div>
            <h3>{{talks[whichItem].name}}</h3>
            <h4>Paracosm</h4>
            <p>
                The titles of Washed Out's breakthrough song...
            </p>
            <h3>{{talks[whichItem].length}}</h3>
            <div class="slot">Track: {{talks[whichItem].trackNo}}</div>
        </div>
        <a href="index.html">&laquo; Back to Main Page</a>
    </div>
</div>
