<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/logoxconf.png" alt="I'm xconf">
        <br>Waiting to see you at Xconf 2014.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a>
    </p>
</div>

<label>search for talk:</label>
<input ng-model="query" placeholder="Search for talks" autofocus>

<div class="" ng-controller="MainController">
    <ul class="">
        <li class="" ng-repeat="item in talks | filter: query">
            <a href="#/details/{{talks.indexOf(item)}}">
                <!--                <img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}">-->
                <div class="">
                    <h2>{{item.name}}</h2>
                    <h3>{{item.speaker}}</h3>
                </div>
            </a>
        </li>
    </ul>
</div>
