<div class="jumbotron">
    <h1>Welcome to Xconf 2014 Bangalore</h1>
    <p class="lead">
        <img src="images/logoxconf.png" alt="I'm xconf">
    </p>
</div>

<label>search for talk:</label>
<input ng-model="query" placeholder="Search Talk, Speaker, or Track" autofocus>

<md-radio-group ng-model="track">
    <md-radio-button value="First" noink>Firste Track</md-radio-button>
    <md-radio-button value="Second" aria-label="Label 2" >Second Track</md-radio-button>
    <md-radio-button value="Third" aria-label="Label 3">Third Track</md-radio-button>
</md-radio-group>

<div class="" ng-controller="MainController">
    <ul class="">
        <li class="" ng-repeat="item in talks | filter: track | filter: query | orderBy: predicate">

            <div class="">
                <a href="#/details/{{talks.indexOf(item)}}">
                    <h2>{{item.name}}</h2>
                </a>
                <img ng-src="images/{{item.nickname}}_pic.png" alt="Photo of {{item.name}}">
                <p>Speaker: {{item.speaker}}
                    <br/>Track Number: {{item.trackNo}}
                    <br/>Slot No: {{item.slotNo}}
                </p>
            </div>
        </li>
    </ul>
</div>
